@import "../base/fonts.scss";



.review-form-div{
    height: 550px;
    width: 550px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.2);

    h1{
        margin-top: 20px;
        font-family: $rubik;
        font-size: 32px;
        font-weight: 500;
        color: #414141;
    }

    h2{
        margin-top: 10px;
        font-family: $rubik;
        font-size: 13px;
        color: #7d7d7d;
        font-weight: 100;
    }

    hr{
        margin-top: 40px;
    }
}

.exit-modal-x{
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: #656565;
    font-weight: 100;
}

.review-form-inner-div{
    padding: 17px 35px 0px 35px;
    
}

.review-form-inner-div1{
    padding: 17px 0px 0px 35px;
    
}

.review-form-stars{
    // margin-top: 20px;
    span{
        margin-right: 5px;
    }
}

.review-form-textarea{
    margin-top: 25px;
    width: 470px;
    height: 175px;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    // align-items: center;
    textarea{
        text-decoration: none;
        border: none;
        resize: none;
        font-size: 17px;
        font-family: $rubik;
        font-weight: 100;
        color: #414141;
        margin-top: 10px;
        &:focus{
            outline: none;
        }
        &::placeholder{
            color: #bbbbbb;
        }
    }
}

.review-form-next-div-off{
    display: flex;
    justify-content: flex-end;
    // align-items: center;
    span{
        font-family: $rubik;
        font-weight: 500;
        padding: 10px 50px;
        background-color: #c7dcb9;
        color: white;
        border-radius: 8px;
        margin-top: 35px;
        margin-right: 20px;
        cursor: pointer;

        &:hover{
            background-color: rgb(227, 194, 194);
        }

    }
}

.review-form-next-div-on{
    display: flex;
    justify-content: flex-end;
    // align-items: center;
    span{
        font-family: $rubik;
        font-weight: 500;
        padding: 10px 50px;
        background-color: #428a13;
        color: white;
        border-radius: 8px;
        margin-top: 35px;
        margin-right: 20px;
        cursor: pointer;

        &:hover{
            background-color: #69a041;
        }

    }
}

.review-form-top-flex{
    display: flex;
    font-family: $rubik;
    align-items: center;
    height: 50px;

    h3{
        // margin-top: 15px;
        font-weight: 500;
        color: #414141;
        font-size: 18px;
        padding-right: 15px;
        span{
            font-weight: 100;
        }
    }

    
}



.review-form-activity-div{
    height: 45px;
    width: 195px;
    border: 1px solid lightgray;
    border-radius: 8px;
    color: #414141;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    h4{
        font-weight: 100;
        font-size: 15px;
        padding-left: 15px;
    }
    img{
        padding-right: 5px;
        height: 20px;
        width: auto;
    }

    &:focus{
        border: 2px solid #428a13;
        color: #69a041;
        margin: -1px;
    }
}

.flip{
    transform: scaleY(-1);
}

.activity-dropdown{
    position: absolute;
    width: 270px;
    height: 250px;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
    color: #414141;
    font-family: $rubik;
    left: 172px;
    top: 198px;
    border-radius: 2px;
    background-color: white;
    overflow-y: scroll;

    &:not(.no-hover):hover{
        display: block;
    }

    ul:first-child{
        margin-top: 3px;
    }
    li{
        height: 40px;
        cursor: pointer;
        font-weight: 100;
        &:hover{
            background-color: rgb(230, 230, 230);
        }
        display: flex;
        align-items: center;
        padding-left: 14px;
    }

}

.hidden{
    display: none;
}

.visibile{
    display: block;
}

.review-form-date-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 7px;
    height: 45px;
    width: 140px;
    border: 1px solid lightgray;
    border-radius: 8px;
    color: #414141;
    font-weight: 100;
    cursor: pointer;
    position: relative;
    p{
        padding-left: 10px;
    }

    &:focus{
        border: 2px solid #428a13;
        margin: -1px;
        p{
            color: #69a041;
        }
    }
    img{
        padding-right: 5px;
        height: 20px;
        width: auto;
    }
}


.review-form-inner-div1{
    .review-hr{
        margin-top: 20px;
        width: 93%;
        margin-right: 120px;
    }
}

.review-form-trail-conditions{ 
    margin-top: 27px; 
    font-family: $rubik;

    h1{
        font-weight: 500;
        color: #414141;
        font-size: 18px;
        padding-right: 15px;
        span{
            font-weight: 100;
        }
    }

    
}

.review-form-conditions-index{
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
    margin-top: 20px;
    
    .condition-index-wrapper{
        margin: 8px 8px 0px 0px;
    }
    li{
        font-weight: 100;
        color: #414141;
        font-size: 14px;
        padding: 7px 12px;
        border: 1px solid lightgray;
        border-radius: 8px; 
        cursor: pointer;
    }
    .condition-index-selected{
        border: 2px solid #428a13;
        color:#69a041;
        margin: -1px;
    }
    
}
.review-form-filler{
    width: 7px;
}

#review-form-bottom-hr{
    margin-top: 55px;
}

.review-form-bottom-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: $rubik;
    margin-top: 40px;
    font-weight: 500;
    font-size: 15px;

    p{
        color: #428a13;
        cursor: pointer;
        &:hover{
            color: #69a041;
        }
    }

    span{
        cursor: pointer;
        padding:12px 65px ;
        border-radius: 8px;
        background: #428a13;
        color: white;
        margin-left: 50px;
        margin-right: 20px;
        &:hover{
            background-color: #69a041;
        }
    }

}



.calendar{
    position: absolute;
    top: 55px;
    left: -90px;
    width: 250px;
    display: none;

    &:hover{
        display: block;
    }
}

.review-form-date-div{
    &:focus{
        .calendar{
            display: block;
        }
    }
}

.react-calendar{
    border: 0px solid;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);



}