@import "../base/fonts.scss";
.searchbar-div{
     height: 600px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     
}

.splash-text{
     position: absolute;
     z-index: 10;
     color: white;
     font-size: 64px;
     top: 17%;
     font-weight: 700;
     font-family: Proxima Nova,Arial,sans-serif
}

.fake-searchbar{
     position: absolute;
     z-index: 3;
     height: 60px;
     width: 680px;
     border-radius: 30px;
     border: 0px solid;
     background-color: white;

     
}

.fake-searchbar1{
    position: absolute;
     z-index: 3;
     height: 60px;
     width: 684px;
     border-radius: 30px;
     border: 0px solid;
     background-color: white;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.3);

}

.search-icon{
    position: absolute;
    top: 32%;
    left: 3%;
    height: 20px;
    width: auto;
}

.arrow-circle-div{
    background-color: #428A13;
    border-radius: 50%;
    position: absolute;
    height: 35px;
    width: 35px;
    z-index: 1;
    top: 20%;
    right: 1.6%
}

.arrow-circle-div:hover{
    background-color: #69a041;
    cursor: pointer;
}

.arrow-div{
  display: block;
  width: 12px;
  height: 12px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transform: rotate(135deg);
  position: absolute;
  left: 28%;
  top: 30%;
  z-index: 2;
}

.arrow-div::after{
  content: "";
  display: block;
  width: 2px;
  height: 18px;
  background-color: white;
  transform: rotate(-45deg) translate(5.4px, 2px);
}

.searchbar{
     position: absolute;
     z-index: 3;
     border: 0px solid;
     height: 55px;
     width: 550px;
     font-size: large;
     max-width: 550px;
     margin-left: 55px;
}

@media only screen and (max-width: 700px){
    .fake-searchbar{
         width: 98vw;
    }

    .fake-searchbar1{
         width: 98vw;
    }

    .searchbar{
        width: 70%;
    }
}

@media only screen and (max-width: 591px){
    .splash-text{
        top: 12%;
        text-align: center;
    }
}

.search-bg{
    width: 100%;
    height: 580px;
    object-position: 50% 50%;
    object-fit: cover;
    position: relative;
   

}

.searchbar-dropdown{
    max-width: 681px;
    width: 97vw;
    position: absolute;
    // border: 1px solid black;
    background-color: #ffffff;
    // background-color: green;
    // border-top-left-radius: 30px;
    // border-top-right-radius: 30px;
    // border-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    // top: 24.55%;
    height: 400px;
    z-index: 1;
    // display: none;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.3);
    overflow-y: scroll;
    top:20px;
    left:1.5px;
    

}

.hidden{
    display: none;
}

// .searchbar:focus + .searchbar-dropdown{
//     display: block;

    
// }

.searchbar-dropdown:hover{
    display: block;
}



.searchbar-contents{
    margin-top: 50px;
    hr{
        padding: 0px;
        margin: 0px;
    }
    
}

.searchbar-item{
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: $rubik;
    color: #414141;

    div{
        margin-left: 10px;
    }


    h1{
        font-size: 18px;
    }

    p{
        font-size: 12px;
        font-weight: 100;
    }
}

.searchbar-item-text{
    display: flex;
    flex-direction: column;

}

.searchbar-item-img{
    height: 35px;
    width: 35px;
    background-color: #ebebeb;
    border-radius: 50%;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


    img{
        height: 20px;
        width: auto;
        // position: absolute;
    }
    
}

.item-div{
    height: 70px;
    display: flex;
    flex-direction: column;
    hr{
        padding: 0px;
        margin: 0px;
        width: 95%;
        align-self: center;
    }
    &:hover{
        background-color: #ebebeb;
        .searchbar-item-img{
            background-color: #ffffff;
        }
    }

}


