@import "../base/fonts.scss";

.trail-div{
    margin: auto;
    font-family: $rubik;
    max-width: 970px;
    width: 97vw;
}

.trail-bg-color{
    background-color: #f2f2f2;
}

.trail-lower-container{
    margin: auto;
    max-width: 968px;
    width: 97vw;
    height: 100vw;
    background-color: white;
    border: 1px solid #b1b1b1;
    display: flex;
    font-family: $rubik;

}

.trail-lower-left{
    width: 67%;
    height: 100vw;
    
}

.trail-lower-right{
    width: 33%;
    height: 100vw;
    border-left: 1px solid #d2d2d2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trail-description{
    font-size: 17px;
    color: #414141;
    font-weight: 100;
    margin: 20px;
    line-height: 25px;
    hr{
        margin-top: 20px;
    }
}

.trail-map{
    margin-top: 10px;
}