/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "base/reset.scss";

@import "components/*";

// *{
//     font-family: Proxima Nova,Arial,sans-serif
// 

 .navbar-div{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 10px;
 }

 .logo-div{
     display: flex;
     align-items: center;
 }

 .nav-title{
     font-family: Proxima Nova,Arial,sans-serif; 
    //  font-family: Montserrat, Arial, sans-serif;
    // font-family: Arial, Helvetica, sans-serif;
     font-family: 'Rubik', sans-serif;
     font-size: 28px;
     color: rgb(123, 122, 122);
     
 }

 .footer-logo{
     height: 60px;
     width: auto;
 }

 .footer-title{
    //  font-family: Montserrat, Arial, sans-serif;
     font-family: 'Rubik', sans-serif;
     font-size: 32px;
     color: rgb(123, 122, 122);
 }

 .splash-text{
     position: absolute;
     z-index: 10;
     color: white;
     font-size: 64px;
     top: 17%;
     font-weight: 700;
     font-family: Proxima Nova,Arial,sans-serif
 }



 .signup-button{
    background-color: #219AD8;
    border-radius: 8px;
    margin-left: 8px;
    color: white;
    text-decoration: none;
    font-family: Proxima Nova,Arial,sans-serif;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    font-weight: 500;

    
 }

 .login-button{
    background-color: white;
    border: 2px solid #219AD8;
    border-radius: 8px;
    margin-left: 8px;
    color: #219AD8;
    text-decoration: none;
    font-family: Proxima Nova,Arial,sans-serif;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    font-size: 13px;
    
 }

 .session-div{
     width: 185px;
 }

 .session1-div{
     width: 185px;
    display: flex;
    justify-content: right;

 }

 .session-div:last-child{
     margin-right: .7%;
 }

 .signup-button:hover{
    background-color: #4bafe1;
 }

 .login-button:hover{
    border: 2px solid #4bafe1;
    color: #219AD8;

 }

 .left-div{
     width: 185px;
     height: 10px;
 }

 .searchbar-div{
     height: 600px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .fake-searchbar{
     position: absolute;
     z-index: 2;
     height: 60px;
     width: 680px;
     border-radius: 30px;
     border: 0px solid;
     background-color: white;
 }

 .searchbar{
     position: absolute;
     z-index: 3;
     border: 0px solid;
     height: 55px;
     width: 550px;
     font-size: large;
     max-width: 550px;


 }

 /* .searchbar-background{
     height: 600px;
     width: 100%;
     position: relative;
     background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

 } */
 
 .searchbar-background{
  width: 100%;
  height: 580px;
  background-image: url("search-background-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.bottom-splash-background{
    width: 100%;
    height: 580px;
    background-image: url("bottom-splash-1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    mask-image: radial-gradient(circle at 47% 65%,hsla(0,0%,100%,0),rgba(0,0,0,.99) 65%); 
    

}

.splash-bottom-div{
    /* top: 15px; */
    /* padding-top: 15px; */
    height: 725px;
    width: 100%;
    position: relative;

}

.splash-bottom-img{
    /* margin-top: 10px; */
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    object-fit: cover;
    /* position: absolute; */

}

.splash-bottom-h1{
    position: absolute;
    color: white;
    font-size: 96px;
    font-family: Proxima Nova,Arial,sans-serif;
    z-index: 3;
    left: 16%;
    top: 20%;
    font-weight: bold;
    letter-spacing: -1px;
}
.splash-bottom-h2{
    position: absolute;
    color: #F5D24B;
    font-size: 96px;
    font-family: Proxima Nova,Arial,sans-serif;
    z-index: 3;
    left: 16%;
    top: 34%;
    font-weight: 700;
    letter-spacing: -1px;  
}

.splash-bottom-p{
    top: 50%;
    left: 16.5%;
    position: absolute;
    color: white;
    z-index: 3;
    font-size: 18px;
    font-family: Proxima Nova,Arial,sans-serif;
    width: 320px;
    font-weight: 400;
    line-height: 26px;


}

.aa-award{
    /* position: absolute; */
    /* z-index: 3;
    left: 15%;
    top: 58%; */
    
}

.gstar{
    /* position: absolute; */
    /* z-index: 3;
    top: 62%;
    left: 28%; */
    margin-top: 30px;

}

.rating{
    /* top: 62%;
    left: 25.5%; */
    /* position: absolute; */
    color: white;
    /* z-index: 3; */
    font-size: 24px;
    font-family: Proxima Nova,Arial,sans-serif;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 30px;


}

.bottom-splash-award{
    position: absolute;
    top: 62%;
    left: 15%;
    z-index: 3;
    display: flex;
    /* height: 100px; */
    /* align-items: center; */
    
}


.splash-bottom-pic::after{
    background: radial-gradient(circle at 47% 65%,hsla(0,0%,100%,0),rgba(0, 0, 0, .9) 60%); 
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
}
 
input:focus {
    outline: none;
}

.search-icon{
    position: absolute;
    top: 32%;
    left: 3%;
    height: 20px;
    width: auto;
}


.arrow-div{
  display: block;
  /* margin: 30px auto; */
  width: 12px;
  height: 12px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transform: rotate(135deg);
  position: absolute;
  left: 28%;
  top: 30%;
  z-index: 2;
}

.arrow-div::after{
  content: "";
  display: block;
  width: 2px;
  height: 18px;
  background-color: white;
  transform: rotate(-45deg) translate(5.4px, 2px);
}

.arrow-circle-div{
    background-color: #428A13;
    border-radius: 50%;
    position: absolute;
    height: 35px;
    width: 35px;
    z-index: 1;
    /* left: 93%; */
    top: 20%;
    right: 1.6%
}

.arrow-circle-div:hover{
    background-color: #69a041;
    cursor: pointer;
}



.nav-link-home{
    text-decoration: none;
}





.signup-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 552px;
    width: 480px;
    margin-top: 80px;
    border-radius: 16px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .24), 0 0 8px 0 rgba(0, 0, 0, .08); 

    font-family: Proxima Nova,Arial,sans-serif;

}
.signup-div > h1{
    font-size: 24px;
    color: #414141;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

.signup-div-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 400px;
    width: 480px;
    margin-top: 80px;
    border-radius: 16px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .24), 0 0 8px 0 rgba(0, 0, 0, .08);
    font-family: Proxima Nova,Arial,sans-serif;

}
.signup-div-login > h1{
    font-size: 24px;
    color: #414141;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

.form-div{
    display: flex;
    flex-direction: column;
}

.signup-field{
    /* width: 432px;
    height: 47px;
    border: 1px solid #b5b5b5;
    font-family: Proxima Nova,Arial,sans-serif;
    margin: 4px 0px;
    border-radius: 8px; */
    border: 0px solid;
    position: absolute;
    top: 20%;
    left: 3%;
    font-size: 20px;
    width: 400px;
    height: 30px;

}

.signup-field::placeholder{
    color: #b5b5b5;
}



.fake-input{
    width: 432px;
    height: 47px;
    border: 1px solid #b5b5b5;
    font-family: Proxima Nova,Arial,sans-serif;
    margin: 4px 0px;
    border-radius: 8px;
    position: relative;
    margin-top: 15px;
    

}
.fake-input:hover{
    border: 1px solid green;
}

.signup-field:focus .fake-input{
    border: 2px solid green;
}


.green-signup{
    text-decoration: none;
    color: #428A13;
    cursor: pointer;
}

.signup-background-img{
  width: 100%;
  height: 1025px;
  background-image: url("search-background-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.signup-error-text{
    color:red;
    font-size: 12px;
}

.red {
    border: 2px solid red;
    
}
.red::placeholder{
    color: red;
}

.red:hover{
    border: 2px solid red;
}



.sign-up-page-submit{
    width: 432px;
    height: 47px;
    font-family: Proxima Nova,Arial,sans-serif;
    margin: 4px 0px;
    border-radius: 8px;
    position: relative;
    margin-top: 15px;
    color: white;
    background-color: #428A13;
    border: 0px solid;
    cursor: pointer;
}

.sign-up-page-submit:hover{
    background-color: #69a041;
}

.have-acc{
    margin-top: 18px;
    font-weight: 0;
    color:#b5b5b5;
    text-align: center;
    font-size: 16px;
}

.demo-log{
    margin-top: 18px;
    color:#b5b5b5;
    text-align: center;
    font-size: 16px;

}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.splash-stats-div{
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.splash-stats{
    text-align: center;
    font-family: Proxima Nova,Arial,sans-serif;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    
}

.splash-stats > h1{
    color: #428A13;
    font-size: 84px;
    font-weight: 700;
    letter-spacing: -3px;
    font-family: Proxima Nova,Arial,sans-serif;
    // font-family: 'Rubik', sans-serif;
    margin-top: 20px;
    
    
}
.splash-stats > h2{
    color: #428A13;
    font-size: 24px;
    font-weight: 700;
    /* letter-spacing: -3px; */
    font-family: Proxima Nova,Arial,sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.splash-stats > p{
    color: #414141;
    font-size: 18px;
    line-height: 1.5;
}

/* .splash-stats > h1{
    font-family: Proxima Nova,Arial,sans-serif;
    font-weight: 700;
    color: #428a13;
    margin-bottom: 8px;
    font-size: 84px;
    font-stretch: normal;
    font-style: normal;
    line-height: .86;
    letter-spacing: -1px;
    white-space: nowrap;
} */
/* @media only screen and (max-width: 834px){
    .splash-stats-div{
        flex-direction: column;
        align-items: center;
    }
} */
@media only screen and (max-width: 700px){
     .fake-searchbar{
     width: 97%;
 }

 .searchbar{
     width: 70%;
 }
}

@media only screen and (max-width: 591px){
    .splash-text{
        top: 12%;
        text-align: center;
    }
}
@media only screen and (max-width: 572px){
    .left-div{
        width: 20%;
    }
}

@media only screen and (max-width: 680px){
    .splash-bottom-h1{
        font-size: 60px;
        top: 2%;
        left: 10%;
    }
    .splash-bottom-h2{
        font-size: 60px;
        top:12%;
        left: 10%;

    }
    .splash-bottom-p{
        top: 23%;
        left: 10%;
    }

    .bottom-splash-award{
        top: 30%;
        left: 4%;
    }
}

.footer{
    height: 100px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 30px; */
    /* display: block; */
}

.footer-flex{
    /* margin-top: 15px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.left-footer{
    display: flex;
    align-items: center;
}

.angel-logo{
    height: 30px;
    width: auto;
}

.linked-logo{
    height: 30px;
    width: auto;
}



.right-footer > a{
    margin-left: 15px;
}


.user-icon-circle{
    height: 40px;
    width: 40px;
    background-color:  #ebebeb;
    border-radius: 50%;
    position: relative;

}
.user-icon{
    height: 20px;
    width: auto;
    margin-right: 10px;
    position: absolute;
    top: 25%;
    left: 26%;
    
}

.flex-user-icon{
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        margin-left: 10px; 
        font-family: 'Rubik', sans-serif;
        color: #646255;
        margin-right: 10px;
        font-size: 14px;
        

    }
}




.icon-dropdown{
    height: 110px;
    width: 170px;
    background: white;
    position: absolute;
    right: 10px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .24), 0 0 8px 0 rgba(0, 0, 0, .08);

}

.icon-dropdown{
    font-size: 14px;
    font-family: Proxima Nova,Arial,sans-serif;
    color: #767676;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    visibility: hidden;
}
.icon-dropdown > li{
    height: 40px;
    /* margin-top: 20px; */
    /* margin-left: 5px; */
    line-height: 40px;
    padding-left: 5px;
    /* margin-bottom: 3px; */
    /* text-align: center; */
    cursor: pointer;
    
}

.icon-dropdown >li:hover{
    background: #f2f2f2;
}

.parent-icon-div:hover .icon-dropdown{
    visibility: visible;
}